@font-face {
	font-family: 'Gilroy';
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'),url('../fonts/Gilroy-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('☺'), url('../fonts/Gilroy-Light.woff') format('woff'),url('../fonts/Gilroy-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('☺'), url('../fonts/Gilroy-Regular.woff') format('woff'),url('../fonts/Gilroy-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: local('☺'), url('../fonts/OnestBold1602-hint.woff') format('woff'),url('../fonts/OnestBold1602-hint.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: local('☺'), url('../fonts/OnestLight1602-hint.woff') format('woff'),url('../fonts/OnestLight1602-hint.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: local('☺'), url('../fonts/OnestMedium1602-hint.woff') format('woff'),url('../fonts/OnestMedium1602-hint.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: local('☺'), url('../fonts/OnestRegular1602-hint.woff') format('woff'),url('../fonts/OnestRegular1602-hint.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
