// Все, что не описывает хотя бы в минимальный отдельный компонент
.relative {
	position: relative;
	left: 0;
	top: 0;
	z-index: 0;
}
.absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.col-span-2 {
	grid-column: auto/span 2;
}