.burger-menu {
	position: relative;
	left: 0;
	top: 0;
	color: var(--white-color);
	background-color: $--blackColor;
	z-index: 0;
	&__main-layer, &__overlay {
		width: 100%;
		height: 100%;
	}
	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		pointer-events: none;
	}
	& &__container {
		display: flex;
		min-height: 100%;
		padding-top: 60px;
		padding-bottom: 60px;
		&_overlay {
			padding-top: 30px;
		}
	}
	&__main-layer &__container {
		@media (max-width: $mbpM) {
			padding-top: 170px;
		}
	}
	&__overlay &__inner {
		justify-content: flex-end;
	}
	&__inner {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		position: relative;
		min-height: 1px;
		left: 0;
		top: 0;
		z-index: 0;
		@media (max-width: $mbpM) {
			align-items: flex-start;
		}
	}
	&__layout {
		flex: 1 1 100%;
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-template-rows: repeat(2, auto);
		gap: 120px 60px;
		@media (max-width: $mbpT) {
			gap: 90px 40px;
		}
		@media (max-width: $mbpM) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: unset;
		}
	}
	&__close-btn {
		position: absolute;
		left: auto;
		right: 0;
		top: 0;
		pointer-events: all;
	}
	&__nav {
		@media (max-width: $mbpM) {
			order: 2;
			margin-bottom: 100px;
		}
	}
	&__tel {
		font-size: 40px;
		line-height: 42.8px;
		@media (max-width: $mbpT) {
			font-size: 35px;
			line-height: 37.45px;
		}
		@media (max-width: $mbpM) {
			font-size: 25px;
			line-height: 26.75px;
		}
	}
	&__group {
		grid-column: 1;
		grid-row: 2;
		@media (max-width: $mbpM) {
			align-self: stretch;
			order: 3;
			grid-column: auto;
			grid-row: auto;
			margin-bottom: 160px;
		}
	}
	&__group-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: -20px;
		margin-left: -20px;
		@media (max-width: $mbpT) {
			flex-direction: column;
			align-items: flex-start;
		}
		@media (max-width: $mbpM) {
			flex-direction: column;
			align-items: center;
		}
		& > * {
			margin-top: 20px;
			margin-left: 20px;
			&:last-child {
				@media (max-width: 375px) {
					align-self: stretch;
				}
			}
		}
	}
	&__logo {
		grid-column: 2;
		grid-row: 2;
		width: 344px;
		align-self: self-end;
		justify-self: end;
		@media (max-width: $mbpT) {
			width: 272px;
		}
		@media (max-width: $mbpM) {
			order: 1;
			grid-column: auto;
			grid-row: auto;
			width: 206px;
			margin-bottom: 100px;
			align-self: center;
		}
	}
}