.footer {
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: var(--black-color);
	@media (max-width: $mbpT) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@media (max-width: $mbpM) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		margin-bottom: 70px;
		@media (max-width: $mbpT) {
			margin-bottom: 60px;
		}
		@media (max-width: $mbpM) {
			grid-template-columns: 1fr;
		}
	}
	&__nav-group-inner {
		display: inline-grid;
		grid-template-columns: repeat(2, minmax(min-content, max-content));
		gap: 74px;
		align-items: start;
		@media (max-width: 1120px) {
			gap: 44px;
		}
		@media (max-width: $mbpM) {
			display: flex;
			flex-wrap: wrap;
			gap: unset;
			margin-left: -74px;
			margin-top: -30px;
			& > * {
				margin-left: 74px;
				margin-top: 30px;
			}
		}
	}
	&__callback-request-form {
		@media (max-width: $mbpT) {
			max-width: 307px;
		}
		@media (max-width: $mbpM) {
			display: none;
		}
	}
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: end;
		margin-left: -20px;
		margin-top: -20px;
		& > * {
			margin-left: 20px;
			margin-top: 20px;
		}
	}
	&__banner {
		width: 100%;
		max-width: 356px;
		max-height: 45px;
		object-fit: contain;
		object-position: center;
		@media (max-width: $mbpT) {
			max-width: 333px;
		}
		@media (max-width: $mbpM) {
			max-width: 340px;
		}
	}
	&__about-dev {
		font-size: 16px;
		line-height: 22px;
		color: var(--text-base-color);
		@media (max-width: $mbpM) {
			font-size: 10px;
			line-height: 14px;
		}
	}
}
.footer-nav {
	display: grid;
	gap: 18px;
	font-size: 14px;
	line-height: 19px;
	color: var(--text-base-color);
	@media (max-width: $mbpM) {
		font-size: 14px;
		line-height: 17px;
	}
}
.contacts {
	display: grid;
	gap: 18px;
	max-width: 200px;
	font-size: 14px;
	line-height: 19px;
	color: var(--white-color);
	@media (max-width: $mbpM) {
		font-size: 14px;
		line-height: 17px;
	}
}
.callback-request-form {
	&__header {
		margin-bottom: 30px;
	}
	&__body {
		display: grid;
		grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) max-content;
		grid-template-rows: repeat(2, auto);
		gap: 25px 10px;
		align-items: start;
		@media (max-width: $mbpPC) {
			grid-template-columns: minmax(175px, 1fr) minmax(175px, 1fr) max-content;
		}
		@media (max-width: $mbpT) {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: unset;
			& > *:nth-child(1) {
				margin-bottom: 10px;
			}
			& > *:nth-child(2) {
				margin-bottom: 30px;
			}
			& > *:nth-child(3) {
				margin-bottom: 15px;
			}
		}
		& > *:last-child {
			grid-column: 1/span 3;
		}
	}
}