.location {
	padding-bottom: 100px;
	@media (max-width: $mbpPC) {
		padding-bottom: 80px;
	}
	@media (max-width: $mbpT) {
		padding-bottom: 60px;
	}
	@media (max-width: 820px) {
		padding-bottom: 0;
	}
	&__info-block {
		padding-bottom: 40px;
		@media (max-width: $mbpM) {
			padding-bottom: 30px;
		}
	}
	&__make-route-btn {
		align-self: flex-start;
	}
	&__map-block {
		padding-top: 83%;
		@media (max-width: $mbpPC) {
			padding-top: 97%;
		}
		@media (max-width: $mbpT) {
			padding-top: 100%;
		}
		& iframe {
			width: 100%;
			height: 100%;
		}
	}
}