<div class="drawer drawer_overlapping drawer_full-screen" data-drawer="main-menu">
	<div class="drawer__panel">
		<div class="drawer__inner burger-menu">
			<div class="burger-menu__main-layer" data-scrollable>
				<div class="burger-menu__container section-container">
					<div class="burger-menu__inner">
						<div class="burger-menu__layout">
							<div class="burger-menu__nav" data-portal-dest="main-nav-to-aside"></div>
							<div class="burger-menu__group">
								<div class="burger-menu__group-inner">
									<a href="tel:88005555555" class="active-item burger-menu__tel">8&nbsp;800&nbsp;555&#8209;55&#8209;55</a>
									<button type="button" class="btn btn_light-clear btn_hover-sand" data-callback-request-btn>
										<span class="btn__inner">
											<span class="btn__cap">Заказать звонок</span>
											<svg class="btn__icon btn__icon_right" viewbox="0 0 13 12">
												<use href='@img/static/icons/icons.svg#arrow-45deg'></use>
											</svg>
										</span>
									</button>
								</div>
							</div>
							<a href="/" class="burger-menu__logo main-logo">
								<figure>
									<img src="@img/static/main-logo.svg" alt="main-logo">
									<img src="@img/static/main-logo-hovered.svg" alt="main-logo-hovered">
								</figure>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="burger-menu__overlay">
				<div class="burger-menu__container burger-menu__container_overlay section-container">
					<div class="burger-menu__inner">
						<button type="button" class="burger-menu__close-btn drawer__close-btn btn btn_only-icon" data-drawer-close="main-menu">
							<svg class="svg-icon" viewbox="0 0 22 22">
								<use href='@img/static/icons/icons.svg#close-cross'></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>