<div class="drawer drawer_overlapping drawer_modal" data-drawer="successful-callback-request">
	<div class="drawer__panel">
		<div class="drawer__inner">
			<div class="drawer__body">
				<div class="drawer__container">
					<div class="thanks-panel">
						<div class="thanks-panel__main">Спасибо<br>за обращение!</div>
						<div class="thanks-panel__sub">Мы свяжемся с вами в течение 1 рабочего дня с 9:00 до 18:00</div>
					</div>
				</div>
			</div>
			<div class="drawer__overlay">
				<div class="drawer__header">
					<div class="drawer__container">
						<button type="button" class="drawer__close-btn btn btn_only-icon" data-drawer-close="successful-callback-request">
							<svg class="svg-icon" viewbox="0 0 22 22">
								<use href='@img/static/icons/icons.svg#close-cross'></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>