@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "../../repo/scss/base/mixins";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Onest";
$fontSize: 16; // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: var(--main-white-color); // Цвет шрифта по умолчанию

// Минимальная ширина страницы
$minWidth: 280;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1600;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты без единиц измерения
$mbpDesignNu: $maxWidth;
$mbpBurgerTimeNu: 1400; // Когда показывать бургер
$mbpPCNu: 1400; // ПК, ноутбуки
$mbpTNu: 1024; // Планшеты, некоторые телефоны в горизонтальном, ноутбуки
$mbpMNu: 768; // Телефоны L
$mbpSMNu: 575; // Телефоны S
$mbpESMNu: 375; // Телефоны XS

// Брейк-поинты
$mbpDesign: $maxWidth;
$mbpBurgerTime: px($mbpBurgerTimeNu); // Когда показывать бургер
$mbpPC: px($mbpPCNu); // ПК, ноутбуки
$mbpT: px($mbpTNu); // Планшеты, некоторые телефоны в горизонтальном, ноутбуки
$mbpM: px($mbpMNu); // Телефоны L
$mbpSM: px($mbpSMNu); // Телефоны S
$mbpESM: px($mbpESMNu); // Телефоны XS